/*
Background Colors: #ffffff (White), #f9fafb, #ffe6eb, #ffd1dc
Text Colors: #ffffff, #ffaec0, #9ca3af, #4b5563, #374151, #1f2937, #000000 (Black)
*/

/* CSS Reset */

:root {
  --primary-palette-color-1: #fff5e4;
  --primary-palette-color-2: #ffe3e1;
  --primary-palette-color-3: #ffd1d1;
  --primary-palette-color-4: #ff9494;

  --text-hover-color: var(--primary-palette-color-4);
  --text-color: #3a2e2a;

  --navbar-background-color: var(--primary-palette-color-2);
  --navbar-bottom-border-color: var(--primary-palette-color-3);
  --footer-top-border-color: var(--primary-palette-color-4);
  --footer-background-color: var(--primary-palette-color-3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  /* Gradient goes from top to bottom */
  background: linear-gradient(
    180deg,
    var(--primary-palette-color-1) 0%,
    var(--primary-palette-color-2) 100%
  );
}

.body-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Navigation Bar */

/* Hamburger Menu (Mobile) */
.hamburger-navbar {
  display: none;
}

.navbar-container {
  background-color: var(--navbar-background-color);
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  border-bottom: 2px solid var(--navbar-bottom-border-color);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-name {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar > ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.navbar a:hover {
  color: var(--text-hover-color);
  transform: translate(2px, -2px);
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-hover-color);
}

.navbar a.active {
  color: var(--text-hover-color);
}

.navbar a.active::after {
  width: 100%;
}

/* Footer */

.footer-container {
  background-color: var(--footer-background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--footer-top-border-color);
}

.footer-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.footer-top,
.footer-bottom {
  margin: 10px 0;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-brand > .logo-container {
  margin-bottom: 10px;
}

.socials-navbar {
  display: flex;
  gap: 20px;
}

.socials-navbar a {
  color: var(--text-color);
  font-size: 1.5rem;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.socials-navbar a:hover {
  color: var(--text-hover-color);
  transform: translate(2px, -2px);
}

.footer-divider {
  border: 1px solid var(--primary-palette-color-2);
  width: 100%;
}

/* Home Page */

h1,
h2 {
  color: var(--text-color);
}

h1 {
  font-size: 5rem;
}

h3 {
  color: var(--primary-palette-color-4);
}

.page-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--text-color);
}

.portfolio-summary-container {
  width: 100%;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.portfolio-summary-image {
  width: 320px;
  height: 320px;
}

.portfolio-summary-image > img {
  width: 320px;
  height: 320px;
  border: 4px solid var(--primary-palette-color-3);
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.portfolio-summary-image > img:hover {
  border: 4px solid var(--primary-palette-color-4);
}

.profile-image2 {
  display: none;
}

.portfolio-summary-image:hover .profile-image1 {
  display: none;
}

.portfolio-summary-image:hover .profile-image2 {
  display: block;
}

.portfolio-summary-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.portfolio-summary-info > p,
.main-socials > a {
  opacity: 0.85;
}

.portfolio-summary-info > p {
  max-width: 600px;
  text-align: center;
}

.main-socials > a {
  font-size: 2rem;
}

.featured-works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.featured-works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  max-width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--primary-palette-color-3);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: border-radius 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card:hover {
  border-radius: 5px;
  border: 2px solid var(--primary-palette-color-4);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
}

.card:hover figcaption {
  position: static;
  opacity: 1;
}

figcaption {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.card > img {
  width: 100%;
  height: 100%;
}

.featured-works-container > button {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-palette-color-4);
  color: var(--primary-palette-color-1);
  font-weight: bold;
  cursor: pointer;
  border: 2px solid var(--primary-palette-color-3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.featured-works-container > button:hover {
  border: 2px solid var(--primary-palette-color-1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .hamburger-navbar {
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }
  .portfolio-summary-container {
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }
  .portfolio-summary-info > p {
    text-align: center;
  }
  .main-socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .featured-works {
    grid-template-columns: 1fr;
  }
  .footer-inner-container {
    gap: 10px;
  }
  .footer-top {
    flex-direction: column;
    gap: 10px;
  }
  .footer-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Portfolio Page */
