<footer class="footer-container">
  <div class="footer-inner-container">
    <div class="footer-top">
      <div class="footer-brand">
        <div class="logo-container">
          <img
            src="/mochachino-portfolio/images/profile/profile2.png"
            alt="portfolio chibi logo"
            class="logo-img"
          />
          <div class="logo-name" style="color: white">yuumocha</div>
        </div>
        <div class="footer-brand-description">
          <span>Illustrator & Chibi Artist</span>
        </div>
      </div>
      <div class="socials-navbar">
        <a href="https://x.com/yuumocha"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="https://www.instagram.com/yuumochachino/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.pixiv.net/en/users/35984610"
          ><i class="fa-brands fa-pinterest"></i
        ></a>
        <a href="https://www.youtube.com/channel/UCB-SOvIv4w0SZqm8_0Cx8yw"
          ><i class="fa-brands fa-youtube"></i
        ></a>
        <a href="https://bsky.app/profile/mochachino.shop"
          ><i class="fa-brands fa-bluesky"></i
        ></a>
        <a href="https://www.twitch.tv/mangonuggets"
          ><i class="fa-brands fa-twitch"></i
        ></a>
        <a href="https://www.tiktok.com/@yuumocha"
          ><i class="fa-brands fa-tiktok"></i
        ></a>
        <a href="https://mochachino.shop/"><i class="fa-solid fa-store"></i></a>
        <a href="https://mochachino.shop/contact/"
          ><i class="fa-solid fa-envelope"></i
        ></a>
      </div>
    </div>
    <hr class="footer-divider" />
    <div class="footer-bottom">
      <span>© 2026 yuumocha. All rights reserved.</span>
      <span>(Website by Jacky Wu)</span>
    </div>
  </div>
</footer>
