<div class="navbar-container">
  <div class="logo-container">
    <img
      src="/mochachino-portfolio/images/profile/profile2.png"
      alt="portfolio chibi logo"
      class="logo-img"
    />
    <div class="logo-name">yuumocha</div>
  </div>
  <nav class="navbar">
    <ul>
      <li><a href="/mochachino-portfolio/index.html">Home</a></li>
      <li>
        <a href="/mochachino-portfolio/pages/portfolio.html">Portfolio</a>
      </li>
      <li>
        <a href="/mochachino-portfolio/pages/commissions.html">Commissions</a>
      </li>
      <li>
        <a href="/mochachino-portfolio/pages/conventions.html">Conventions</a>
      </li>
    </ul>
  </nav>
  <nav class="hamburger-navbar">
    <hr />
    <hr />
    <hr />
  </nav>
</div>
